<form ng-submit="vm.login(vm.user)" class="form-signin">
  <h2 class="form-signin-heading">Log in</h2>
  <input ng-model="vm.user.email" type="email"  class="form-control" placeholder="Email address" required autofocus>
  <input ng-model="vm.user.password" type="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>