<form name="authForm" ng-submit="vm.register(vm.user)" class="form-signin" novalidate>

  <h2 class="form-signin-heading">Sign up</h2>

  <!-- Server authentication error -->
  <p ng-show="vm.error" class="text-danger" ng-bind="vm.error">{{ vm.error }}</p>

  <!-- Email input -->
  <input ng-model="vm.user.email" type="email" name="email" class="form-control" placeholder="Email address" required autofocus>

  <!-- Email error -->
  <div ng-show="authForm.$submitted">
  	<p ng-show="authForm.email.$error.required" class="text-danger">Email required</p>

  </div>

  <input ng-model="vm.user.password" type="password" name="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>