<form ng-submit="vm.addParty()" class="form-inline party-form">
  <div class="form-group">
    <input ng-model="vm.newParty.name" type="text" class="form-control" placeholder="Name" required>
  </div>
  <div class="form-group">
    <input ng-model="vm.newParty.phone" type="text" class="form-control" placeholder="Phone" required>
  </div>
  <div class="form-group">
    <input ng-model="vm.newParty.size" type="number" class="form-control" placeholder="Size of Party" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>