<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Done?</th>
      <th>Info</th>
      <th>Notified?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tr ng-repeat="party in vm.parties">
    <td>
      <input ng-model="party.done" ng-change="vm.toggleDone(party)" type="checkbox">
    </td>
    <td>
      <div><strong>{{ party.name }} ({{ party.size }} people)</strong></div>
      <div>{{ party.phone }}</div>
    </td>
    <td>
      <div>{{ party.notified ? 'Yes' : 'No' }}</div>
    </td>
    <td>
      <button ng-click="vm.sendTextMessage(party)" class="btn btn-success">Send SMS</button>
      <button ng-click="vm.removeParty(party)" class="btn btn-danger">Remove</button>
    </td>
  </tr>
</table>